<a href="https://colab.research.google.com/github/AvinashKumar0210/Tasks/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TASK 1 : Top Cuisines
Determine the top three most cuisines in the  dataset.
Calculate the percentage of restaurants that serve each of the top cuisines.**

In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("/Dataset .csv")
df_head = df.head()
df_info = df.info()
df_describe = df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [6]:
#Calculating average cost for two columns
avg_cost = df['Average Cost for two'].mean()+ 3*df['Average Cost for two'].std()
print(avg_cost)

49562.75998376979

In [7]:
Top_Cuisines = df['Cuisines'].value_counts().head(3)
print("Top three most common Cuisines : ",Top_Cuisines)

Top three most common Cuisines :  Cuisines
North Indian             936
North Indian, Chinese    511
Chinese                  354
Name: count, dtype: int64

**Calculating the percentage of restaurants that serves each of the top cuisines.**

In [8]:
top_restaurants = len(df[df['Cuisines'].isin(Top_Cuisines.index)])
print("Total number of restaurants : ",top_restaurants)

Total number of restaurants :  1801

In [9]:
percentage_top_cuisines = (Top_Cuisines/top_restaurants)*100
print("Percentage of restaurants serving top cuisines : ",percentage_top_cuisines)

Percentage of restaurants serving top cuisines :  Cuisines
North Indian             51.971127
North Indian, Chinese    28.373126
Chinese                  19.655747
Name: count, dtype: float64